.intro{
    position: relative;
    overflow: hidden;    
    display: flex;    
    align-items: center;    
    height: 100vh;
    z-index: 3;
    @include xl{
        margin-left: 37px;
    }
    @include lg-d{
        background: linear-gradient(153.99deg, #736ECC 0%, #D7CB89 100%);
    } 
    &__video{        
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 2;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include xl{
            left: 37px;
        }
        @include lg-d{
            display: none;
        }
    }
    &__wrapper{
        position: relative;
        z-index: 1100;        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include xl{
            left: 37px;
            width: 1300px;
        }
        @include xl-d{
            width: 900px;
        }
        @include lg-d{            
            width: auto;
            align-content: center;
        }
        @include md-d{
            flex-direction: column;
        }
    }
    &__left{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        @include md-d{
            margin-bottom: 125px;
            justify-content: center;
            font-size: 30px;
            line-height: 27px;            
        }
        @include sm-d{
            margin-bottom: 65px;
        }
    }
    &__img{
        visibility: hidden;
        @include lg-d{
            visibility: visible;
        }
        @include md-d{            
            margin-bottom: 110px;
        }
        @include sm-d{
            margin-bottom: 65px;
        }
    }
    &__downline{
        margin-top: 18px;
        font-size: 32px;
        line-height: 23px;
        color: #FFFFFF;
        margin-bottom: 50px;        
    }
    &__img{
        img{
            width: 300px;
        }
    }
    &__btn{
        padding: 12px 26px;
        background: #071545;
        border: 1px solid #071545;        
        border-radius: 20px;
        
          
            font-size: 22px;
            line-height: 20px;            
            color: #ffffff;           
         
        &:hover{
            cursor: pointer;
        }     
    }
    &__timer-title{
        text-align: center;
        font-size: 40px;
        line-height: 20px;
        color: #071545;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 20px;
        @include md-d{
            font-size: 22px;
            line-height: 20px;
        }
    }
    &__timer{
        display: flex;
        flex-direction: column;
        align-items: center;        
        #clockdiv{            
            color: #A29350;            
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            font-weight: 700;            
            display: flex; 
            flex-wrap: nowrap; 
             
                       
        }        
        
        #clockdiv > div{	
            margin-right: 22px;
            display: inline-block;
            &:last-child{
                margin-right: 0;
            }
        }        
        #clockdiv div > span{
            padding: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 20px;
            display: inline-block;
            width: 55px; 
            
        }        
        .smalltext{            
            margin-top: 6px;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #000000;          
        }
    }
    &__link{
        position: fixed;
        right: 40px;
        bottom: 25px;
        z-index: 9999999;
        transition: 1s linear;
        &:hover{
            transition: 0.5s linear;
            filter: drop-shadow(0px 0px 10px yellow);
        }  
        @include lg-d{
            width: 60px;
        }      
        @include sm-d{
            left: 50%;
            bottom: 38px;
            transform: translate(-50%, 0);
        }
    }    
}
