// 1. Colors
//Body color
$colorBody: #ffffff;
;
//h1,h2,h3,h4,h5,h6
$colorH1:  #FFFFFF;
$colorH2: #000000;
$colorH3: #000000;
$colorH4: #000000;
$colorH5: #000000;
$colorH6: #000000;
//colors
$accent: #FF3480;
//Slider colors
$dotsCol: #000000;
$dotsActiveCol: $accent;


h1 {
    color: $colorH1;
}

h2 {
    color: $colorH2;
}

h3 {
    color: $colorH3;
}

h4 {
    color: $colorH4;
}

h5 {
    color: $colorH5;
}

h6 {
    color: $colorH6;
}

