@font-face {
    font-family: "Ermilov";
    src: url("/fonts/Ermilov.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
    font-family: "Ermilov";
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-family: 'Ermilov';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 27px;
}

h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.upline {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 1em;
    text-transform: uppercase;
    opacity: 0.5;
}