@font-face {
	font-family: "Monument";
	src: url("../fonts/MonumentExtended-Regular.otf");
}
@font-face {
	font-family: "Monument Bold";
	src: url("../fonts/MonumentExtended-Ultrabold.otf");
}

body {
	font-family: "Montserrat";
	font-size: 18px;
}

h1 {
	font-weight: 450;

	line-height: 62px;
}

h2 {
	font-weight: 450;
	font-size: 48px;
	line-height: 62px;
}

h3 {
	font-weight: 450;
	line-height: 41px;
}

.monument {
	font-family: "Monument Bold", sans-serif;
}
