.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    z-index: 50;
    &--height {
        width: 180px;
        height: 60px;
    }
    &--hole {
        $btnHoleBg: $accent;
        $btnHoleBorder: 2px solid $accent;
        border-radius: 30px;
        -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        border: $btnHoleBorder;
        &:hover {
            box-shadow: 0 0 40px 40px $btnHoleBg inset;
        }
    }
}