.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 37px;
	display: none;
	background: rgba(83, 79, 79, 0.5);
   backdrop-filter: blur(10px);
	z-index: 1000;
	@include lg-d{
		left: 0;
	}
}
.popup {
	position: absolute;
	width: 340px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	box-sizing: border-box;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
   padding: 31px 38px;
	
	&__content {
		padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
	}
	&__title {
		text-align: center;
		font-size: 25px;
      line-height: 23px;
      color: #071545;
	}
	p {
      margin-top: 15px;
		font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      margin-bottom: 50px;
	}
   &__form{
      margin-top: 16px;
      &:first-child{
         margin-top: 0;
      }
   }
	&__form-name {
		margin-top: 3px;
      font-size: 15px;
      line-height: 14px;
      color: rgba(7, 21, 69, 0.7);
      

	}
	input {
		margin-top: 5px;
		box-sizing: border-box;
		width: 240px;
		padding: 12px 0px 12px 15px;
		border: 2px solid #071545;
      border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		@include sm-d {
			padding: 10px 0px 10px 15px;
		}
		&:active,
		&:focus {
			border: 2px solid rgba(249, 216, 0, 1);
		}
	}
	&__button {
      margin-top: 40px;
      align-self: center;
         a{
            font-size: 20px;
            line-height: 18px;            
            color: #071545;
            background: #F9D800;
            box-shadow: 0px 2px 3px 2px rgba(7, 21, 69, 0.6);
            border-radius: 20px;
            padding: 9px 31px;
            width: 115px;
		
      }
		
	}
}

.close-popup {
	position: absolute;
	top: -40px;
	right: -40px;
	width: 38px;
	height: 38px;
	cursor: pointer;
   background: #071545;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 25px;
}

