<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

	<title>UA-Coin</title>



	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{{ $scss := resources.Get "scss/main.scss" }}
	{{ $style := $scss | resources.ToCSS }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	{{ $slider := resources.Get "js/slider.js" }}
	{{ $nav := resources.Get "js/nav.js" }}
	{{ $js := slice $nav $slider | resources.Concat "js/bundle.js" }}
	<script defer type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script defer type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script defer type="text/javascript" src="{{ $js.RelPermalink }}"></script>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap" rel="stylesheet">


	<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>