<section class="intro">
   <div class="container">
      <div class="intro__wrapper">
         <div class="intro__left">
            <h1 class="intro__title">Private sale</h1>
            <div class="intro__downline">4200000 UA COIN</div>
            <div class="intro__btn">
              Buy now    
            </div>
         </div>
         <div class="intro__img">
            <img src="/img/coin.png" alt="">
         </div>
         <div class="intro__timer">
            <div class="intro__timer-title">
               Launching soon!
            </div>
            <div id="clockdiv">
               <div><span class="days"></span><div class="smalltext">days</div></div>
               <div><span class="hours"></span><div class="smalltext">hours</div></div>
               <div><span class="minutes"></span><div class="smalltext">minutes</div></div>
               <div><span class="seconds"></span><div class="smalltext">seconds</div></div>
            </div>
         </div>
      </div>
   </div>
   <div class="intro__link">
      <a href="#">
         <img src="/img/icon.png" alt="coin">
      </a>      
   </div>
</section>