<section class="intro">
   <video autoplay muted  class="intro__video" id="intro__video">
      <source src="/img/coin.webm" type="video/webm">
    </video>
   <div class="container">
      <div class="intro__wrapper">
         <div class="intro__left">
            <h1 class="intro__title">Private sale</h1>
            <div class="intro__downline">4200000 UA COIN</div>
            <div >
              <a href="#" class="intro__btn">Buy now </a>    
            </div>
         </div>
         
         <div class="intro__timer">
            <div class="intro__timer-title">
               Launching soon!
            </div>
            <div id="clockdiv">
               <div><span class="days"></span><div class="smalltext">days</div></div>
               <div><span class="hours"></span><div class="smalltext">hours</div></div>
               <div><span class="minutes"></span><div class="smalltext">minutes</div></div>
               <div><span class="seconds"></span><div class="smalltext">seconds</div></div>
            </div>
         </div>
      </div>
   </div>
   <div class="intro__link">
      <a href="popup-btn" class="open__popup">
         <img src="/img/icon.png" alt="coin">
      </a>      
   </div>
   
</section>

<!-- <div class="intro__bg">
   <img src="/img/coin.png" alt="coin">
</div> -->



<div class="overlay">

	<div class="popup">
		<div class="close-popup">X</div>
		
		<form id="popup_form" class="popup__content" netlify>
			<div class="popup__title">Launching soon!</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices fames aliquam cras tortor,</p>
			
			<div class="popup__form">
				<div class="popup__form-name">
					Name ...
				</div>
				<input type="text" name="name" placeholder="">
			</div>
			<div class="popup__form">
				<div class="popup__form-name">
					Phone ...
				</div>
				<input type="text" name="name" placeholder="">
			</div>
         <div class="popup__form">
				<div class="popup__form-name">
					E-mail ...
				</div>
				<input type="text" name="name" placeholder="">
			</div>
			
			<div class="popup__button">
				<a href="#" onclick="document.getElementById('popup_form').submit()" class="">Send</a>
                <noscript>
                    <input type="submit" value="Submit" />
                </noscript>
			</div>
		</form>
	</div>
</div>